################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

python.zip
/.vs/slnx.sqlite-journal
/.vs/slnx.sqlite
__pycache__/