{% extends "base.html" %}

{% load static %}
{% load custom_tags %}

{% block additional_styles %}
    <link href="{% static 'select2/select2.min.css' %}" rel="stylesheet">
    <link href="{% static 'select2/select2-bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div>
    <div class="alert alert-warning" role="alert" {% if has_databases %}style="display:none"{% endif %}>
        <span class="bi-exclamation-triangle-fill pl10" style="color: orange;"></span>يجب إضافة قاعدة بيانات واحدة على الأقل للإستفادة من خدمات البرنامج.
    </div>

    <div class="row" style="max-width: 600px;">
        <div class="form-group col-12" style="margin-top: 10px;">
            <label class="col-12" style="margin-bottom: 3px;">الاسم الأجنبي</label>
            <input type="text" name="english_name" maxlength="70" autocomplete="off" class="form-control en-only" required id="id_english_name" value="{{entity.english_name}}" {{action|if_equals_else:'edit,readonly,'}}>
        </div>
        
        <div class="form-group col-12" style="margin-top: 10px;">
            <label class="col-12" style="margin-bottom: 3px;">الإسم العربي</label>
            <input type="text" name="arabic_name" maxlength="70" autocomplete="off" class="form-control ar-only" required id="id_arabic_name" value="{{entity.arabic_name}}">
        </div>

        <div class="form-group col-12" style="margin-top: 10px;">
            <label class="col-12" style="margin-bottom: 3px;">المستخدمين المسموح بهم</label>
            <select class="form-select " id="select_allowed_users" name="allowed_users[]" multiple="multiple">
                {% for u in users|iterator %}
                    <option value="{{u.id}}" data-icon="bi-person-fill">{{u.arabic_name}}.{{u.english_name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
 
{% endblock %}


{% block footer %}
    <div class="form-group col-12" style="margin-top: 10px;">
        <input id="btn-submit" type="submit" class="btn btn-primary" style="float: left;" value="{{arabic_action}}" />
    </div>
{% endblock %}

{% block additional_scripts %}
    <script src="{% static 'select2/select2.min.js' %}" type="text/javascript"></script>
    <script>
        function format(value) {
            if (!value.id) { return value.text; }
            var icon_class = '';
            $('#select_allowed_users option').each(function(){
                if($(this).text() == value.text){
                    icon_class = $(this).attr('data-icon')
                    return false;
                }
            });
            
            return '<i class="' + icon_class + '" style="font-size: 14px; padding-left: 10px; padding-right:5px;"></i>' + value.text;
        } 

        function hideSelected(value) {
            if (value && !value.selected) {
                return format(value)
            }
        }

        $(document).ready(function() {
            $('#select_allowed_users').select2({
                formatResult: format,
                formatSelection: format,
                templateResult: hideSelected,
                templateSelection: format,
                escapeMarkup: function(m) { return m; }
            });

            $('#select_allowed_users').val("{% if action|equals:'edit' %}{{entity|fetch_by_name:'allowed_users'|iterator|select:'id'|array_to_string_no_brackets}}{% else %}null{% endif %}".split(','));
            $('#select_allowed_users').trigger('change');

        });

        // AJAX for posting
        function create_post() {
            console.log("create post is working!") // sanity check

            $('#btn-submit').prop('disabled', true);
            
            showOverlay();

            $.ajax({
                url : "/databases/", // the endpoint
                type : "POST", // http method
                data : { 
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: '{{action}}',
                    english_name : $('#id_english_name').val(),
                    arabic_name : $('#id_arabic_name').val(),
                    allowed_users :  $('#select_allowed_users').val().toString()
                }, // data sent with the post request

                success : get_ajax_success_function('{{action}}', "/databases"),

                error : get_ajax_error_function()
            });
        };
	
    </script>
{% endblock %}