{% extends "base.html" %}

{% load static %}
{% load custom_tags %}
{% block additional_styles %}
<link href="{% static 'select2/select2.min.css' %}" rel="stylesheet">
<link href="{% static 'select2/select2-bootstrap4.min.css' %}" rel="stylesheet">
<style>

.select2-container--default .select2-selection--single .select2-selection__clear {
    padding-right: 2px;
    margin-left: 18px;
    height: 100%;
    color: coral;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  align-items: center;
  right: 44%;
}

.select2-container {
    width: auto !important;
}

table{
    width: 100%;
}

td > .select2-container {
    width: 100% !important;
}

td > .select2-container > .selection > .select2-selection > .select2-selection__rendered {
    line-height: 28px !important;
}
td > .select2-container > .selection > .select2-selection {
    height: 28px !important;
}
td > .select2-container > .selection > .select2-selection > .select2-selection__arrow {
    height: 28px !important;
}
.table>:not(:first-child) {
    border-top: none;
}
</style>
{% endblock %}

{% block content %}

<div class="alert alert-warning" role="alert" style="display: flex;">
    <span class="bi-exclamation-triangle-fill pl10" style="color: orange; font-size: 24px;margin-top: 3px;"></span><span class="pr10">للإستيراد عبر الجهاز الحالي, الرجاء تحميل <a href="{% url 'downloads' %}?id=python.zip">Python.zip</a> وتحرير محتوى الملف الى المسار التالي على جهازك <i style="padding: 0px 4px 0px 4px;color:brown">'C:\Users\Public'</i><br>  بعدها قم بنسخ ملف الإستيراد <i style="padding: 0px 4px 0px 4px;color:brown">'Importer_xxx.bat'</i> الى جانب الملف المطلوب استيراده وقم بتشغيله.</span>
</div>

<div style="display: flex; flex-direction: row;">
    <div style="max-width: 800px;">
        <div class="form-group col-12" style="margin-top: 10px;">
            <label class="col-12" style="margin-bottom: 3px;">استيراد من ملف</label>
            <div style="display: flex; flex-direction: row;">
                <select class="form-control form-select" style="max-width: 200px; margin-left: 10px;font-size: 14px;" id="select-import-type" name="importtype">
                    <option value="client">عبر الجهاز الحالي</option>
                    <option value="server">عبر الخادم</option>
                </select>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon3" onclick="select_file()">إختر ملف</span>
                    <input type="text" style="z-index: 0;background-color: white !important;" class="form-control" placeholder="لم يتم اختيار ملف بعد" id="file-input-holder" aria-describedby="basic-addon3" onclick="select_file()" autocomplete="off" readonly>
                    <input class="form-control" type="file" name="fileinput" id="file-input" style="display: none;" accept=".csv" onclick="this.value=null;" autocomplete="off"/>
                </div>
            </div>
        </div>
        <div class="form-group col-12" style="margin-top: 10px;">
            <label class="col-12" style="margin-bottom: 3px;">السطر الأول يحتوي على العناوين؟</label>
            <select class="form-control form-select" id="select-hasheader" name="hasheader">
                <option value="true">نعم</option>
                <option value="false">كلا</option>
            </select>
        </div>
        <div class="form-group col-12" style="margin-top: 10px;">
            <label class="col-12" style="margin-bottom: 3px;">استيراد كل الملفات القريبة؟</label>
            <select class="form-control form-select" id="select-importall" name="importall">
                <option value="true">نعم</option>
                <option value="false" selected>كلا</option>
            </select>
        </div>
        <div class="form-group col-12" style="margin-top: 10px;">
            <label class="col-12" style="margin-bottom: 3px;">استيراد الى</label>
            <select class="form-control icon-picker" id="select-source" name="source">
                {% for b in banks|iterator %}
                    <option value="collection.{{b.id}}" data-icon="{{b.icon_class}}" data-ar-src="بنك">{{b.arabic_name}}</option>
                {% endfor %}
                {% for r in relations|iterator %}
                    <option value="edge.{{r.id}}" data-icon="bi-diagram-3-fill" data-ar-src="علاقة">{{r.arabic_name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-12" style="margin-top: 10px;">
            <table id="tableimport" class="table bluetable" style="width: -webkit-fill-available;">
                <thead>
                    <tr>
                        <th style="min-width: 150px;">البنك/العلاقة</th>
                        <th>الحقل</th>
                        <th style="min-width: 100px;">نوع الحقل</th>
                        <th style="min-width: 200px;">الحقل المُوازي</th>
                        <th>المعالجة</th>
                        <th>مُعرّف؟</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
    <div id="preview-container" style="position: relative; flex-grow: 1;background-color: rgb(243 243 243 / 35%);margin: 35px 35px 10px 0px; overflow-x: auto;max-height: 441px; border: 1px solid #efefef;">
        <div id="data-preview-empty" class="vertical-center" style="display: flex; flex-direction: column;">
            <span class="bi-table" style="font-size: 22px; color: lightgray;"></span>
            <span style="font-size: 12px; color: lightgray;">العرض غير متوفر</span>
        </div>
        <div id="data-preview" style="background-color: white;">
            
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="serverfilepickerModal" tabindex="-1" role="dialog" aria-labelledby="serverfilepickerModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="serverfilepickerModalCenterTitle">إختر ملف</h5>
          <a class="bi-x-lg" role="button" style="color: gray;" data-bs-dismiss="modal"></a>
        </div>
        <div id="serverfilepickerModal-body" class="modal-body">
            <div id="file-picker-tree" class="file-picker" style="max-height: 300px;overflow: auto;-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;" unselectable="on" onselectstart="return false;">

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
            <button id="confirm_selected_file" type="button" class="btn btn-primary" onclick="confirm_file(event)" disabled>إختيار</button>
          </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
    <div class="form-group col-12" style="margin-top: 10px;">
        <input id="btn-submit" type="submit" class="btn btn-primary" style="float: left;" value="إستيراد" />
    </div>
{% endblock %}

{% block additional_scripts %}
<script src="{% static 'select2/select2.min.js' %}" type="text/javascript"></script>
<script>

    var dict = $.parseJSON('{{sources}}'.replace(/&quot;/g, '"'))
    var current_file_content='';
    var current_file_name='';
    var fields = [];
    var usedfields = [];


    $('input[name=fileinput]').change(file_changed)
    $('#select-hasheader').change(on_read)
    
    $('#select-import-type').change(function (e){
        $('#data-preview > table').remove();
        $('#data-preview-empty').show();
        current_file_content='';
        current_file_name='';
        fields = [];
        usedfields = [];
        $("#file-input-holder").val(current_file_name);
        $('#select-source').trigger('change');
    });

    function select_file(){
        if($('#select-import-type').val()=='server'){
            file_picker_navigate("/")
            $('#serverfilepickerModal').modal('show')
        }else{
            document.getElementById('file-input').click()
        }
    }

    function focus_file(e){
        element = e.target
        if(e.target.tagName.toLocaleLowerCase() == "span")
            element = e.target.parentElement
        
        $('.file, .folder, .partition').removeClass("active");

        $(element).addClass("active");

        if(element.classList.contains('file')){
            $("#confirm_selected_file").attr('disabled',false);
        }else{
            $("#confirm_selected_file").attr('disabled',true);
        }
    }

    function confirm_file(e){
        element = $('.file.active')[0];
        file_picker_file_selected(element);
    }
    
    function file_picker_dblclick(e){
        element = e.target
        if(e.target.tagName.toLocaleLowerCase() == "span")
            element = e.target.parentElement
        if(element.classList.contains('folder') || element.classList.contains('partition')){
            file_picker_navigate($(element).attr('data-value'))
        }else{
            file_picker_file_selected(element);
        }
    }

    function file_picker_file_selected(element){
        selected_file_name = $(element).attr('data-value');
        current_file_name = selected_file_name;
        $("#file-input-holder").val(selected_file_name);
        $('#serverfilepickerModal').modal('hide');
        read_file_top_from_server(selected_file_name);
    }

    function file_picker_navigate(value){
        if(value =='...')
            value = $('#ul-navigation').attr('data-parent');
        $.ajax({
            url : "/filepicker/", // the endpoint
            type : "POST", // http method
            data : { 
                action: 'navigate',
                base: value,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            }, // data sent with the post request

            success : function(response) {
                if(response.constructor == Object && response['code'] == '1'){
                    showError(response['message']);
                }else{
                    document.getElementById('file-picker-tree').innerHTML = response
                }
            },
            error : get_ajax_error_function()
        });
    }

    function read_file_top_from_server(value){
        $.ajax({
            url : "/filepicker/", // the endpoint
            type : "POST", // http method
            data : { 
                action: 'readfiletop',
                file: value,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            }, // data sent with the post request

            success : function(response) {
                if(response.constructor == Object && response['code'] == '1'){
                    showError(response['message']);
                }else{
                    current_file_content = response
                    on_read();
                }
            },
            error : get_ajax_error_function()
        });
    }

    function format(value) {
        if (!value.id) { return value.text; }
        var icon_class = '';
        var ar_src = '';
        $('#select-source option').each(function () {
            if ($(this).text() == value.text) {
                icon_class = $(this).attr('data-icon')
                ar_src = $(this).attr('data-ar-src')
                return false;
            }
        });
        return '<i class="' + icon_class + '" style="font-size: 14px; padding-left: 10px; padding-right:5px;"></i><strong style="color:#00b8ff">' + ar_src + '</strong>.' + value.text;
    }

    $(document).ready(function () {
        $('#select-source').select2({
            formatResult: format,
            formatSelection: format,
            templateResult: format,
            templateSelection: format,
            escapeMarkup: function (m) { return m; }
        });

        $('#select-source').change(function(e){
            $("#tableimport > tbody tr").remove(); 
            dict[$('#select-source').val()].forEach(function myFunction(item) {
                addRows(item);
            });
            fill_file_fields();
            $('#preview-container').css({"maxHeight": + (document.getElementById('tableimport').clientHeight + 267) + 'px'});
        })

        $('#select-source').val(Object.keys(dict)[0])
        $('#select-source').trigger('change');
    });

    function addRows(data) {
        var time_now = Date.now();
        var tbodyRef  = document.getElementById('tableimport').getElementsByTagName('tbody')[0];
        var row = tbodyRef.insertRow();
        var splitInput =''
        // var splitInput = '<input name="sep" type="text" maxlength="1" style="width:30%; margin-left:2px;direction: ltr;text-align: end;font-size: 12px;" class="form-control" placeholder="العلامة الفاصلة (مثال: / )"/>'

        if(data[0]==0)
            row.style = "background-color: rgb(190 245 255 / 43%);"
        else
            row.style = "background-color: #f9ffd5;"

        var cell1 = row.insertCell(0);
        cell1.innerHTML = '<i name="source" source-index="' + data[9] + '" data-type="'+data[0]+'" data-source="'+data[1]+'" data-source-ar="'+data[2]+'"><span class="'+data[3]+' pl10"></span>'+data[2]+'</i>';
        var cell2 = row.insertCell(1);
        cell2.innerHTML = '<i name="field" data-field="'+data[4]+'" data-field-ar="'+data[5]+'">'+data[5]+'</i>';
        var cell3 = row.insertCell(2);
        cell3.innerHTML = '<i name="field-data-type" data-type="'+data[6]+'">'+data[7]+'</i>';
        
        var cell6 = row.insertCell(3);
        cell6.innerHTML = '<select id="sel_' + time_now + '" name="file-field" class="form-select">';

        $('#sel_' + time_now).select2({
            allowClear: true,
            width: '200px',
            placeholder: "اختر حقل"
        });
        $('#sel_' + time_now).val(null)
        $('#sel_' + time_now).trigger('change');
        $('#sel_' + time_now).change(on_file_field_select);

        var cell4 = row.insertCell(4);
        cell4.style = "display: flex;border-width: 0px !important;";
        if (data[8] == true){
            cell4.innerHTML = splitInput + '<input name="format" type="text" style="direction: ltr;text-align: end;font-size: 14px;" class="form-control" placeholder="%d/%m/%y %H:%M"/>';
        }else if(data[6]=='String'){
            cell4.innerHTML = splitInput + '<select id="sel_format' + time_now + '" name="format" type="select" class="form-select"><option value="translate">ترجمة</option><select>';
            $('#sel_format' + time_now).select2({
                allowClear: true,
                width: '200px',
                minimumResultsForSearch: -1,
                placeholder: "اختر نوع المعالجة"
            });
            $('#sel_format' + time_now).val(null);
            $('#sel_format' + time_now).trigger('change');
        }else{
            cell4.innerHTML = splitInput + '<input name="format" type="text" style="direction: ltr;" class="form-control" disabled/>';
        }
       
        var cell5 = row.insertCell(5);
        cell5.innerHTML = '<input name="identity" type="checkbox" class="form-check" style="margin-right: 12px;">';

    }

    function on_file_field_select(e1){
        select = $(this);
        val = select.val();
        $('select[name=file-field]').each(function (e2) {
            select2 = $(this);
            if(select2[0].id != select[0].id){
                if(select2.val()==val && val != null){
                    select2.val(null);
                    select2.trigger('change');
                }
            }
        });
    }

    function file_changed(ev){
        var file = document.getElementById("file-input").files[0];
        if (file) {
            blob = file.slice(0, (file.size < 2000) ? file.size : 2000);
            var reader = new FileReader();
            reader.readAsText(blob, "UTF-8");
            reader.onload = function (evt) {
                current_file_content = evt.target.result;
                current_file_name = file.name;
                on_read();
            }
            reader.onerror = function (evt) {
                showError('فشل اثناء قراءة الملف، الرجاء التأكد من أن الملف مطابق للمواصفات')
            }
        }
    }

    function on_read() {
        try {
            array = CSVToArray(current_file_content);
            if(!($('#select-hasheader').val() === 'true')){
                header = []
                for(let i = 0;i<array[0].length;i++){
                    header[i] = 'حقل_' + i;
                }
                array.splice(0,0, header);
            }
            fields = array[0]
            if(fields.length==0)
            {
                fields = [];
                showError('فشل اثناء قراءة الملف، الرجاء التأكد من أن الملف مطابق للمواصفات')
                return false;
            }
            fill_file_fields();
            $("#file-input-holder").val(current_file_name);
            $('#data-preview-empty').hide();
            $('#data-preview > table').remove();
            document.getElementById('data-preview').appendChild(createTable(array))
        } catch (e) {
            showError('فشل اثناء قراءة الملف، الرجاء التأكد من أن الملف مطابق للمواصفات')
            console.error(e)
        }
    }

    function fill_file_fields(){
        $('select[name=file-field]').each(function myFunction(item) {
            var select = $(this)
            select.empty();
            fields.forEach(function myFunction(f,i) {
                select[0].add(new Option(f,i));
            });
            select.val(null)
            select.trigger('change');
        });
    }

    function CSVToArray( strData, strDelimiter ){
        strDelimiter = (strDelimiter || ",");
        var objPattern = new RegExp(
            (
                // Delimiters.
                "(\\" + strDelimiter + "|\\r?\\n|\\r|^)" +

                // Quoted fields.
                "(?:\"([^\"]*(?:\"\"[^\"]*)*)\"|" +

                // Standard fields.
                "([^\"\\" + strDelimiter + "\\r\\n]*))"
            ),
            "gi"
            );
        var arrData = [[]];
        var arrMatches = null;
        while (arrMatches = objPattern.exec( strData )){
            var strMatchedDelimiter = arrMatches[ 1 ];
            if (
                strMatchedDelimiter.length &&
                strMatchedDelimiter !== strDelimiter
                ){
                arrData.push( [] );
            }

            var strMatchedValue;
            if (arrMatches[ 2 ]){
                strMatchedValue = arrMatches[ 2 ].replace(
                    new RegExp( "\"\"", "g" ),
                    "\""
                    );

            } else {
                strMatchedValue = arrMatches[ 3 ];

            }
            arrData[ arrData.length - 1 ].push( strMatchedValue );
        }
        return( arrData );
    }

    function create_post() {
        $('#btn-submit').prop('disabled', true);
        $('#overlay-message')[0].innerHTML='قد تستغرق هذه العمليّة بعض الوقت، الرجاء الإنتظار...'
        showOverlay();

        try {

            if($("#file-input-holder").val()==null || $("#file-input-holder").val().length==0){
                throw new Error('يجب اختيار ملف أوّلاً');
            }

            data = {
                "file_name": current_file_name,
                "has_header": ($('#select-hasheader').val() === 'true'),
                "import_all_files":  ($('#select-importall').val() === 'true'),
                "used_fields" : [],
                "collections": [],
                "edges": []
            };
            lastSourceName = null;
            lastCollectionIndex = -1;
            $('#tableimport > tbody > tr').each(function(e){
                tr = $(this);
                selected_field_select = tr.find('select[name=file-field]').first();
                if(selected_field_select != undefined && selected_field_select.val()!=null) {
                    source_label = tr.find('i[name=source]').first();
                    source_name = source_label.attr('data-source')
                    source_name_ar = source_label.attr('data-source-ar')
                    type = parseInt(source_label.attr('data-type'))

                    if (lastSourceName!=source_name){
                        if(type==0){
                            lastCollectionIndex = source_label.attr('source-index');
                            if(data['edges'].length>0)
                                data['edges'][data['edges'].length-1]["to_col"] = parseInt(lastCollectionIndex);

                            data['collections'].push({
                                "index": parseInt(lastCollectionIndex),
                                "name": source_name,
                                "name_ar": source_name_ar,
                                "fields_indecies" : [],
                                "fields_names" : [],
                                "fields" : [],
                                "identity_fields" : []
                            })
                        }else if(type==1){
                            data['edges'].push({
                                "name": source_name,
                                "name_ar": source_name_ar,
                                "from_col": parseInt(lastCollectionIndex),
                                "to_col": -1, 
                                "fields_indecies" : [],
                                "fields_names" : [],
                                "fields" : [],
                                "identity_fields" : []
                            })
                        }
                    }

                    lastSourceName = source_name;
                    ff_index = parseInt(tr.find('select[name=file-field]').first().val());
                    f_name = tr.find('i[name=field]').first().attr('data-field');
                    f_name_ar = tr.find('i[name=field]').first().attr('data-field-ar');
                    match = tr.find('input[name=identity]').first().is(':checked');
                    type_ = tr.find('i[name=field-data-type]').first().attr('data-type');
                    format_ = tr.find('[name=format]').first().val();
                    /* splitter_ = tr.find('[name=sep]').first().val();
                    if(splitter_!=null && splitter_.trim().length > 0)
                    {
                        type_ = "Array_"+ type_;
                        format_ = splitter_+ format_;
                    } */
                    if(format_ ==null)
                        format_ = '';

                    cfields = {
                        "name": f_name,
                        "name_ar": f_name_ar,
                        "type": type_,
                        "format": format_,
                        "match": match,
                        "ff_index": ff_index
                    }

                    if(type==0){
                        data['collections'][data['collections'].length - 1]['fields'].push(cfields);
                        data['collections'][data['collections'].length - 1]['fields_indecies'].push(ff_index);
                        data['collections'][data['collections'].length - 1]['fields_names'].push(f_name);
                        if(match)
                            data['collections'][data['collections'].length - 1]['identity_fields'].push(f_name);
                    }else if(type==1){
                        data['edges'][data['edges'].length - 1]['fields'].push(cfields);
                        data['edges'][data['edges'].length - 1]['fields_indecies'].push(ff_index);
                        data['edges'][data['edges'].length - 1]['fields_names'].push(f_name);
                        if(match)
                            data['edges'][data['edges'].length - 1]['identity_fields'].push(f_name);
                    }

                    data['used_fields'].push(ff_index);
                }
            });

            if(data['collections'].length==0){
                throw new Error('يجب اختيار حقل بنك واحد على الأقل للمتابعة');
            }

            for (var i = 0; i < data['collections'].length; i++) {
                collection = data['collections'][i];
                for (var j = 0; j < collection['fields'].length; j++) {
                    field = collection['fields'][j];
                    if(field['type']=='Date' && (field['format']==null || field['format'].trim()==0)){
                        throw new Error('يجب ادخال نوع المعالجة لحقل \'' + collection['name_ar'] + '.' + field['name_ar'] + '\'');
                    }
                }
            }

            for (var i = 0; i < data['edges'].length; i++) {
                edge = data['edges'][i];
                if(edge['from_col']==-1 || edge['to_col']==-1){
                    throw new Error('يجب اختيار حقول من الطرفين للعلاقة \'' + edge['name_ar'] + '\' من أجل اتمامها');
                }
                for (var j = 0; j < edge['fields'].length; j++) {
                    field = edge['fields'][j];
                    if(field['type']=='Date' && (field['format']==null || field['format'].trim()==0)){
                        throw new Error('يجب ادخال نوع المعالجة لحقل \'' + edge['name_ar'] + '.' + field['name_ar'] + '\'');
                    }
                }
            }

            meta_ = JSON.stringify(data);
            console.log(meta_);

            $.ajax({
                url : "/import/", // the endpoint
                type : "POST", // http method
                data : { 
                    action: 'generate_python_importer',
                    where: $('#select-import-type').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    meta : meta_
                }, // data sent with the post request

                success : function(response) {
                    hideOverlay();
                    $('#btn-submit').prop('disabled', false);
                    if($('#select-import-type').val()=='client'){
                        if(response.constructor == Object && response['code'] == '1')
                            showError(response['message']);
                        showSuccess('جاري تحميل الملف')
                        const link = document.createElement("a");
                        link.href = response;
                        link.download = 'import.py';
                        link.click();
                    }else{
                        if(response.constructor == Object && response['code'] == '1')
                            showError(response['message']);
                        else if(response.constructor == Object && response['code'] == '0')
                            showSuccess('تمت العمليّة بنجاح')
                        const link = document.createElement("a");
                        link.href = 'data:text/plain,' + response['content'][0];
                        link.download = 'import_logs.txt';
                        link.click();
                    }
                },

                error : get_ajax_error_function()
            });
        } catch (e) {
            showError(e.message);
            console.error(e);
            $('#btn-submit').prop('disabled', false);
            hideOverlay();
        }
    }
</script>
{% endblock %}