{% extends "base.html" %}

{% load static %}
{% load custom_tags %}

{% block additional_styles %}
    <link href="{% static 'select2/select2.min.css' %}" rel="stylesheet">
    <link href="{% static 'select2/select2-bootstrap4.min.css' %}" rel="stylesheet">
    <style>
        .en_input{
            direction: ltr;
            text-align: end;
        }
        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
        }
    </style>
{% endblock %}

{% block content %}
<div>
    <div class="alert alert-warning" role="alert" {% if has_database %}style="display:none"{% endif %}>
        <span class="bi-exclamation-triangle-fill pl10" style="color: orange;"></span>يجب إختيار قاعدة بيانات للإستفادة من خدمات البرنامج.
    </div>

    <div id="div_settings" class="row" style="max-width: 600px;">
        <div class="form-group col-12" style="margin-top: 10px;">
            <label class="col-12" style="margin-bottom: 3px;">عنوان الخادم</label>
            <input type="text" class="form-control en_input" name="arango_host" value="{{arango_host}}" autocomplete="off" placeholder="http://127.0.0.1:8529/" required/>
        </div>
        <div class="form-group col-12" style="margin-top: 10px;">
            <label class="col-12" style="margin-bottom: 3px;">اسم المستخدم</label>
            <input type="text" class="form-control en_input" name="arango_username" value="{{arango_username}}" autocomplete="new-password" placeholder="username" required/>
        </div>
        <div class="form-group col-12" style="margin-top: 10px;">
            <label class="col-12" style="margin-bottom: 3px;">كلمة المرور</label>
            <input type="password" class="form-control en_input" name="arango_password" value="{{arango_password}}" autocomplete="new-password" placeholder="password" required/>
        </div>
        <div class="form-group col-12" style="margin-top: 10px;">
            <label class="col-12" style="margin-bottom: 3px;">سقف نتائج البحث</label>
            <input type="number" class="form-control en_input" name="arango_query_limit" min="1" value="{{arango_query_limit}}" autocomplete="off" required/>
        </div>
        <div class="form-group col-12" style="margin-top: 10px;">
            <label class="col-12" style="margin-bottom: 3px;">قاعدة البيانات</label>
            <select class="form-control icon-picker" id="icon-picker-database" name="database" required>
                {% for db in databases %}
                    <option value="{{db.english_name}}" data-icon="fa-solid fa-database">{{db.arabic_name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
 
{% endblock %}


{% block footer %}
    <div class="form-group col-12" style="margin-top: 10px;">
        <input id="btn-submit" type="submit" class="btn btn-primary" style="float: left;" value="حفظ" />
    </div>
{% endblock %}

{% block additional_scripts %}
    <script src="{% static 'select2/select2.min.js' %}" type="text/javascript"></script>
    <script>
        function format(value) {
            if (!value.id) { return value.text; }
            var icon_class = '';
            $('#icon-picker-database option').each(function(){
                if($(this).text() == value.text){
                    icon_class = $(this).attr('data-icon')
                    return false;
                }
            });
            
            return '<i class="' + icon_class + '" style="font-size: 14px; padding-left: 10px; padding-right:5px;"></i>' + value.text;
        } 
        $(document).ready(function() {
            $('#icon-picker-database').select2({
                formatResult: format,
                formatSelection: format,
                templateResult: format,
                templateSelection: format,
                escapeMarkup: function(m) { return m; }
            });

            $('#icon-picker-database').val("{{user.current_database_name}}");
            $('#icon-picker-database').trigger('change');

        });

        // AJAX for posting
        function create_post() {
            console.log("create post is working!") // sanity check

            $('#btn-submit').prop('disabled', true);
            
            showOverlay();
            config_dic = {}
            $('#div_settings').find('input').each(function parse(i,input){
                config_dic[input.name]=input.value
            })
            
            $.ajax({
                url : "/settings/", // the endpoint
                type : "POST", // http method
                data : { 
                    action: 'save',
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    database : $('#icon-picker-database').val(),
                    config_dic: JSON.stringify(config_dic)
                }, // data sent with the post request

                success : get_ajax_success_function('edit', "/settings"),

                error : get_ajax_error_function()
            });
        };
	
    </script>
{% endblock %}