{% extends "base.html" %}

{% load static %}
{% load custom_tags %}

{% block additional_styles %}
    <link href="{% static 'select2/select2.min.css' %}" rel="stylesheet">
    <link href="{% static 'select2/select2-bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div>
    <div class="row" style="max-width: 600px;">
        <div class="form-group col-12" style="margin-top: 10px;">
            <label class="col-12" style="margin-bottom: 3px;">الاسم الأجنبي</label>
            <input type="text" name="english_name" maxlength="70" autocomplete="off" class="form-control en-only" required id="id_english_name" value="{{entity.username}}" {{action|if_equals_else:'edit,readonly,'}}>
        </div>
        
        <div class="form-group col-12" style="margin-top: 10px;">
            <label class="col-12" style="margin-bottom: 3px;">الإسم العربي</label>
            <input type="text" name="arabic_name" maxlength="70" autocomplete="off" class="form-control ar-only" required id="id_arabic_name" value="{{entity.arabic_name}}"  {{entity.username|if_equals_else:'admin,readonly,'}}>
        </div>

        <div class="form-group col-12" style="margin-top: 10px;">
            <label class="col-12" style="margin-bottom: 3px;">مدير؟</label>
            <select class="form-select" id="select-superuser" name="is_superuser" {{entity.username|if_equals_else:'admin,disabled,'}}>
                <option value="True" {{entity.is_superuser|if_else:'selected,'}}>نعم</option>
                <option value="False" {{entity.is_superuser|if_not_else:'selected,'}}>كلا</option>
            </select>
        </div>
        <div class="form-group col-12" style="margin-top: 10px;">
            <label class="col-12" style="margin-bottom: 3px;">الصلاحيات</label>
            <select class="form-select " id="select_permissions" name="permissions[]" multiple="multiple" required {{entity.username|if_equals_else:'admin,disabled,'}}>
                {% for p in permissions %}
                        <option value="{{p.english_name}}" data-icon="nothing">{{p.arabic_name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-12" style="margin-top: 10px;">
            <label class="col-12" style="margin-bottom: 3px;">قاعدة البيانات العامل عليها</label>
            <select class="form-control icon-picker" id="icon-picker-database" name="database">
                {% for db in databases %}
                    <option value="{{db.english_name}}" data-icon="fa-solid fa-database">{{db.arabic_name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
 
{% endblock %}


{% block footer %}
    <div class="form-group col-12" style="margin-top: 10px;">
        <input id="btn-submit" type="submit" class="btn btn-primary" style="float: left;" value="{{arabic_action}}" {{entity.username|if_equals_else:'admin,disabled,'}} />
    </div>
{% endblock %}

{% block additional_scripts %}
    <script src="{% static 'select2/select2.min.js' %}" type="text/javascript"></script>
    <script>
        function format(value) {
            if (!value.id) { return value.text; }
            var icon_class = '';
            $('#select_permissions option').each(function(){
                if($(this).text() == value.text){
                    icon_class = $(this).attr('data-icon')
                    return false;
                }
            });
            return '<i class="' + icon_class + '" style="font-size: 14px; padding-left: 10px; padding-right:5px;"></i>' + value.text;
        } 

        function hideSelected(value) {
            if (value && !value.selected) {
                return format(value)
            }
        }

        function format2(value) {
            if (!value.id) { return value.text; }
            var icon_class = '';
            $('#icon-picker-database option').each(function(){
                if($(this).text() == value.text){
                    icon_class = $(this).attr('data-icon')
                    return false;
                }
            });
            
            return '<i class="' + icon_class + '" style="font-size: 14px; padding-left: 10px; padding-right:5px;"></i>' + value.text;
        }

        $(document).ready(function() {
            $('#select_permissions').select2({
                formatResult: format,
                formatSelection: format,
                templateResult: hideSelected,
                templateSelection: format,
                escapeMarkup: function(m) { return m; }
            });

            $('#select_permissions').val("{% if action|equals:'edit' %}{{entity.user_permissions}}{% else %}null{% endif %}".split(','));
            $('#select_permissions').trigger('change');

            $('#icon-picker-database').select2({
                formatResult: format2,
                formatSelection: format2,
                templateResult: format2,
                templateSelection: format2,
                escapeMarkup: function(m) { return m; }
            });

            $('#icon-picker-database').val("{{entity.current_database_name}}");
            $('#icon-picker-database').trigger('change');

        });

        // AJAX for posting
        function create_post() {
            console.log("create post is working!") // sanity check

            $('#btn-submit').prop('disabled', true);
            
            showOverlay();

            $.ajax({
                url : "/users/", // the endpoint
                type : "POST", // http method
                data : { 
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: '{{action}}',
                    english_name : $('#id_english_name').val(),
                    arabic_name : $('#id_arabic_name').val(),
                    is_superuser : $('#select-superuser').val(),
                    permissions :  $('#select_permissions').val().toString(),
                    current_database_name: $('#icon-picker-database').val()
                }, // data sent with the post request

                success : get_ajax_success_function('{{action}}', "/users"),

                error : get_ajax_error_function()
            });
        };
	
    </script>
{% endblock %}