<!DOCTYPE html>
<html dir="rtl" lang="ar">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="karbala">

    <title>الهادي</title>

    {% load static %}
    {% load datacore_tags %}

    <link rel="shortcut icon" type="image/png" href="{% static 'icons/favicon.ico' %}"/>
    <link href="{% static 'bootstrap/css/bootstrap.rtl.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/general.css' %}" rel="stylesheet">
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesome/css/all.min.css' %}" rel="stylesheet">

    {% block additional_styles %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" style="font-family: cairo;padding-right: 16px;" href="{% url 'home'%}">
            <img src="{% static 'icons/favicon.ico' %}" style="margin-left: 16px; width: 24px; height: 24px;"></span>الهادي
        </a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="bi-person-fill pl10"></span>المستخدم: {{user}}
                    </a>
                    <ul class="dropdown-menu user-action-panel" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'password_change' %}" style="color: #dbd6d6;"><span class="bi-key pl10"></span>تغيير كلمة المرور</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}" style="color: #ff8888"><span class="bi-power pl10"></span>تسجيل خروج</a></li>
                    </ul>
                  </div>
                
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky" style="padding: 15px;">
                    <ul class="nav flex-column">

                        {% for p in pages %}
                            {% if p.childs == None %}
                                <li class="nav-item">
                                    <a class="nav-link {{ p.selected|yesno:'selected,' }}" href="{% url p.template %}">
                                        <span class="{{p.icon}} pl10"></span> {{p.arabic_name}}
                                    </a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <div style="display:flex; flex-direction: row;">
                                        <a class="nav-link dropdown-toggle {{ p.selected|yesno:',collapsed' }} {{ p.selected|yesno:'selected,' }}" style="flex-grow: 1" data-bs-toggle="collapse" data-bs-target="#nav{{p.english_name}}" role="button" aria-expanded="{{ p.selected|yesno:'true,' }}" aria-controls="nav{{p.english_name}}">
                                            <span class="{{p.icon}} pl10"></span>
                                            <span style="display: inline-block;width: 85%;">{{p.arabic_name}}</span>
                                        </a>
                                        <a href="{% url p.template %}?action=add" class="bi bi-plus-circle" style="align-self: center;"></a>
                                    </div>
                                    <ul class="flex-column collapse {{ p.selected|yesno:'show,' }}" id="nav{{p.english_name}}">
                                        {% if p.selected and not p.selected_child %}
                                            <li><a class="dropdown-item selected" href="{% url p.template %}"><span class="bi-caret-left pl10"></span>الجميع</a></li>
                                        {% else %}
                                            <li><a class="dropdown-item" href="{% url p.template %}"><span class="bi-caret-left pl10"></span>الجميع</a></li>
                                        {% endif %}
                                        {% for c in p.childs %}
                                            <li><a class="dropdown-item {{ c.selected|yesno:'selected,' }}" href="{% url p.template %}?en={{c.english_name}}">
                                                {% if c.icon and c.icon.strip %}
                                                    <span class="{{c.icon}} pl10"></span>
                                                {% else %}
                                                    <span class="bi-caret-left pl10"></span>
                                                {% endif %}
                                                {{c.arabic_name}}
                                            </a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>

                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <form id="myform" action="/create_post/" method="POST" >
                    {% csrf_token %}
                    <div style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;" class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2">
                            {% for p in pages %}
                                {% if p.selected %}
                                    {% if p.selected_child %}
                                        {{p.arabic_name}} - {{p.selected_child.arabic_name}}
                                    {% else %}
                                        {{p.arabic_name}}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </h1>
                        {% block header_left %}
                        {% endblock %}
                    </div>
                    <div class="container-fluid" style="padding: 0px;">
                        {% block content %}
                        {% endblock %}
                    </div>
                    <di class="footer" style="position: fixed;bottom: 10px;left: 10px;">
                        {% block footer %}
                        {% endblock %}
                    </di>
                </form>
            </main>
        </div>
    </div>
    
    <div class="toast-container position-fixed end-0 p-3" style="top: 60px !important;">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <img src="{% static 'icons/favicon.ico' %}" style="width:16px; height: 16px;" class="rounded me-2" alt="...">
            <strong class="me-auto" style="color: whitesmoke;">رسالة جديدة</strong>
            <small style="color: whitesmoke;">الأن</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="اغلاق"></button>
          </div>
          <div class="toast-body">
            Hello, world! This is a toast message.
          </div>
        </div>
    </div>
    
    <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/general.js' %}" type="text/javascript"></script>
    <script>
        $('#myform').on('submit', function(event){
            event.preventDefault();
            create_post();
        });
    </script>
    {% block additional_scripts %}
    {% endblock %}
</body>
</html>