{% extends "base.html" %}

{% block header_left %}
    <a type="button" class="btn btn-outline-primary" href="{% url 'relations' %}?action=add"><span class="bi-plus-lg pl10"></span>إضافة</a>
{% endblock %}

{% block content %}

<div style="display: flex; flex-wrap: wrap;">
{% for r in relations %}
    <div id="card-{{r.english_name}}" class="card selectable-card" style="margin: 10px;">
        <div class="card-body">
            <h5 class="card-title">{{r.arabic_name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{r.english_name}}</h6>
            <hr class="mt-2 mb-3"/>
            <div class=".position-relative" style="margin-bottom: 15px;">
                <span style="display: flex; flex-direction: row;">
                    <span style="display: flex; flex-direction: row;">
                        {% if r.from_bank.icon_class and r.from_bank.icon_class.strip %}
                            <span style="font-size: 30px; margin-left: 15px;" class="{{r.from_bank.icon_class}}"></span>
                        {% else %}
                            <span style="font-size: 30px; margin-left: 15px;" class="bi-hdd-stack-fill"></span>
                        {% endif %}
                        <span>
                            <h5 class="card-title">{{r.from_bank.arabic_name}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{r.from_bank.english_name}}</h6>
                        </span>
                    </span>
                    <span class="bi-three-dots" style="padding-right: 15px; padding-top: 17px; color: dodgerblue;"></span>
                    <span class="bi-three-dots" style="padding-top: 17px; color: dodgerblue;"></span>
                    <span class="bi-three-dots" style="padding-left: 15px;padding-top: 17px; color: dodgerblue;"></span>
                    <span style="display: flex; flex-direction: row;">
                        {% if r.to_bank.icon_class and r.to_bank.icon_class.strip %}
                            <span style="font-size: 30px; margin-left: 15px;" class="{{r.to_bank.icon_class}}"></span>
                        {% else %}
                            <span style="font-size: 30px; margin-left: 15px;" class="bi-hdd-stack-fill"></span>
                        {% endif %}
                        <span>
                            <h5 class="card-title">{{r.to_bank.arabic_name}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{r.to_bank.english_name}}</h6>
                        </span>
                    </span>
                </span>
                <a href="{% url 'relations' %}?en={{r.english_name}}" class="stretched-link"></a>
            </div>
            <span class="card-footer-flex">
                <a role="button" class="card-link card-delete" data-bs-toggle="modal" data-entityid="{{r.english_name}}" data-bs-target="#confirmModal" onclick="update_button_delete_data(event)"><span class="bi-trash pl10"></span>حذف</a>
            </span>
        </div>
    </div>
{% endfor %}
</div>

<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmModalCenterTitle"><span class="bi-exclamation-triangle-fill pl10" style="color: orange;"></span>تحذير</h5>
        </div>
        <div class="modal-body">
            <h6>إن حذف هذخ العلاقة سيؤدّي الى خسارة البيانات الخاصة بها للأبد. </h6>
            <h6>هل تريد المتابعة حقاً؟</h6>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">كلا</button>
          <button id="button-confirm-delete" type="button" data-bs-dismiss="modal" data-entityid="" class="btn btn-primary" onclick="delete_confirmed('/relations/','{{ csrf_token }}',event)">نعم</button>
        </div>
      </div>
    </div>
  </div>
 
{% endblock %}