{% extends "base.html" %}
{% load static %}
{% load datacore_tags %}
{% block header_left %}
    <a type="button" class="btn btn-outline-primary" href="{% url 'views' %}?action=add"><span class="bi-plus-lg pl10"></span>إضافة</a>
{% endblock %}

{% block content %}
<div class="no-cards-label {{ views|iterator|loop_count|if_equals_else:'0,,hidden' }}" style="margin-top: 150px; display: flex;justify-content: center;align-items: center;flex-direction: column;">
    <img src="{% static 'images/empty_box.png' %}" style="margin-right: -113px;width: 200px;"/>
    <div style="font-size: small;margin-right: -100px; color: darkgray; ">لا يوجد ملفات بحث</div>
    <a style="margin-top: 20px; margin-right: -100px;" href="{% url 'views' %}?action=add" class="btn btn-primary">إضافة ملف بحث جديد</a>
</div>

<div class="cards-container" style="display: flex; flex-wrap: wrap;">
{% for v in views|iterator %}
    <div id="card-{{v.english_name}}" class="card selectable-card" style="width: 18rem; margin: 10px;">
        <div class="card-body">
            <div class=".position-relative" style="margin-bottom: 20px;">
                <span style="display: flex; flex-direction: row;">
                    <span style="font-size: 30px; margin-left: 15px;color: #ffffff" class="bi-book-half"></span>
                    <span>
                        <h5 class="card-title ellipsis" style="max-width: 200px;">{{v.arabic_name}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted ellipsis" style="max-width: 200px;">{{v.english_name}}</h6>
                    </span>
                </span>
                <hr class="mt-2 mb-3"/>
                <span style="display: flex; flex-direction: row;width: 16rem; flex-wrap: wrap;">
                    {% with v.data_fields|fetch_all|iterator as fields %}
                        {% for f in fields %}
                            {% if f.bank %}
                                <span class="badge bg-secondary" style="margin: 3px;"><span class="bi-hdd-stack" style="padding-left: 6px;"></span>{{f.bank.arabic_name}}:{{f.arabic_name}}</span>
                            {% elif f.relation %}
                                <span class="badge bg-secondary" style="margin: 3px;"><span class="bi-diagram-3-fill" style="padding-left: 6px;"></span>{{f.ralation.arabic_name}}:{{f.arabic_name}}</span>
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                </span>
                <a href="{% url 'views' %}?en={{v.english_name}}" class="stretched-link"></a>
            </div>
            <span class="card-footer-flex">
                <a role="button" class="card-link card-delete" data-bs-toggle="modal" data-entityid="{{v.english_name}}" data-bs-target="#confirmModal" onclick="update_button_delete_data(event)"><span class="bi-trash pl10"></span>حذف</a>
            </span>
        </div>
    </div>
{% endfor %}
</div>

<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmModalCenterTitle"><span class="bi-exclamation-triangle-fill pl10" style="color: orange;"></span>تحذير</h5>
        </div>
        <div class="modal-body">
            <h6>إن حذف هذا الملف سيؤدّي الى خسارة البيانات الخاصة به للأبد. </h6>
            <h6>هل تريد المتابعة حقاً؟</h6>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">كلا</button>
          <button id="button-confirm-delete" type="button" data-bs-dismiss="modal" data-entityid="" class="btn btn-danger" onclick="delete_confirmed('/views/','{{ csrf_token }}',event)">نعم</button>
        </div>
      </div>
    </div>
  </div>
 
{% endblock %}