.query-builder .rules-group-container{
    background: white;
    border: 1px solid lightgray;
}

.btn-circle.btn-sm {
    width: 24px;
    padding: 0px;
    border-radius: 15px;
    font-size: 14px;
    text-align: center;
}

.form-control{
    font-size: 12px;
    padding: 0.2rem 0.5rem 0.2rem 0.6rem !important;
}

.form-select{
    font-size: 12px;
    padding: 0px 10px !important;
    height: 26px;
}

div.rules-group-header > div > .btn-outline-primary {
    margin-right: -1px !important;
}

div.rules-group-header > div > .btn {
    line-height: 1 !important;
}

.rule-filter-container {
    flex-grow: 1;
    flex-shrink: 1;
    width: -webkit-fill-available;
}

.rule-operator-container {
    flex-grow: 1;
    flex-shrink: 1;
    width: -webkit-fill-available;
}

.rule-value-container {
    flex-grow: 1;
    flex-shrink: 1;
    width: -webkit-fill-available;
}

div.rule-header {
    margin-top: 2px;
}

.rules-group-container{
    height: 100%;
}

.rules-group-body {
    padding-top: 7px;
}

.query-builder .rules-list>::after, .query-builder .rules-list>::before {
    border-color: #0d6efdb3;
}

.query-builder .rules-group-header {
    margin-bottom: 0px; 
}
